body {
  font-family: 'lato', sans-serif;
}
.fixedButton{
            position: fixed;
            bottom: 0px;
            right: 0px;
            padding: 30px;
        }
        .roundedFixedBtn{

          height: 60px;
          line-height: 70px;
          width: 60px;
          font-size: 3em;
          font-weight: bold;
          border-radius: 50%;
          background-color: white;
          color: blue;
          text-align: top;
          cursor: pointer;
          box-shadow: 0px 0px 19px 0px rgb(180, 180, 180);
        }
.container {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
}
h2 small {
  font-size: 0.5em;
}

.responsive-table li {
  border-radius: 3px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

}
.responsive-table .table-header {
  background-color: rgb(46, 46, 210);
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 29px 0px rgb(220, 220, 210);
}
.responsive-table .col-1 {
  flex-basis: 50%;

}
.responsive-table .col-2 {
  flex-basis: 20%;
}
.responsive-table .col-3 {
  flex-basis: 10%;
}
.responsive-table .col-4 {
  flex-basis: 10%;
}
.responsive-table .col-5 {
  flex-basis: 10%;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;

  }
  .responsive-table .col {
    flex-basis: 100%;

  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}