<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Activities</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../static/css/style.css">
    <!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<!--===============================================================================================-->

</head>
<body>
<!-- partial:index.partial.html -->
<nav class="navbar" style="background-color:rgb(46, 46, 210)">
		<div class="container-fluid">
			<h1 class="navbar-brand" style="font-weight: bold;">
				Welcome {{ user }}
			</h1>
				<li>
					<button  class="btn btn-info btn-md" style="background-color:white;color:rgb(46, 46, 210);" onclick="location.href='{% url 'logout_user' %}'">Log out</button>


				</li>
		</div>
	</nav>
<br>
<br>
<!--</div>-->
<div class="fixedButton" style="position: fixed;
            bottom: 0px;
            left: 0px;
            padding: 30px;"><button class="roundedFixedBtn" onclick="location.href='{% url 'home' %}'">↩</button></div>

<br>
<div class="fixedButton"><button class="roundedFixedBtn" onclick="location.href='{% url 'post' %}'">➥</button></div>


<br>
<div class="container">
  <h2>Connected Groups</h2>
	<br>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1" >Group id</div>
      <div class="col col-1" >Group Name</div>
      <div class="col col-2">Delete</div>

    </li>
	  {% for group in groups %}
    <li class="table-row">
      <div class="col col-1" data-label="Description">{{ group.group_id }}</div>
      <div class="col col-1" data-label="Description">{{ group.group_name }}</div>
      <a style="float:right; margin:5px; color: white;" href="/delete_group/{{group.group_id}}/" class="btn btn-danger btn-sm" >Delete</a>

    </li>
	  {% endfor %}
	  <br>
	  <div>
		  <form method="post" action="{% url 'save_group' %}">
			  {% csrf_token %}
		  <label >Group ID</label>
						<input  type="text" name="group_id" style="background-color:white;
	height:40px;
	margin-left: 50px;
	width:300px;
	border-radius:6px;
	color:black;
box-shadow: 0px 0px 19px 0px rgb(180, 180, 180);

">
			  <label >Group Name</label>
						<input  type="text" name="group_name" style="background-color:white;
	height:40px;
	margin-left: 50px;
	width:300px;
	border-radius:6px;
	color:black;
box-shadow: 0px 0px 19px 0px rgb(180, 180, 180);

">
		  <button style="background-color:white;
	height:40px;
	width:130px;
	color:blue;
	border-radius:6px;
	margin-left: 50px;
box-shadow: 0px 0px 19px 0px rgb(180, 180, 180);
font-weight: bold;
">Add Group</button></form>
					</div>












  </ul>

	<br>
</div>
<!-- partial -->

</body>
</html>
