<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Activities</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../static/css/style.css">
    <!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<!--===============================================================================================-->

</head>
<body>
<!-- partial:index.partial.html -->
<nav class="navbar" style="background-color:rgb(46, 46, 210)">
		<div class="container-fluid">
			<h1 class="navbar-brand" style="font-weight: bold;">
				Welcome {{ user }}
			</h1>
				<li>
					<form action=" {%url 'login_user'%} " method="post">
						{% csrf_token %}
						<button  class="btn btn-info btn-md" style="background-color:white;color:rgb(46, 46, 210);" type="Submit">Log out</button>
					</form>

				</li>
		</div>
	</nav>
<br>
<br>



<div class="fixedButton" style="position: fixed;
            bottom: 0px;
            left: 0px;
            padding: 30px;"><button class="roundedFixedBtn" onclick="location.href='{% url 'post' %}'">↩</button></div>


<div class="container">
  <h2>Add Post</h2>
    <form method="post" action="{% url 'submit' %}" enctype='multipart/form-data'>
        {% csrf_token %}
<!--		{{ form.as_p }}-->
    <br>
    <div  >
		  <label style="color:blue;">Title</label>
						{{ form.title }}

					</div>
    <br>

    <div>
		  <label style="color:blue;">Text</label>
						{{ form.text }}
					</div>
    <br>
    <div  >
		  <label style="color:blue;">Post As</label>
						{{ form.post_as }}


					</div>
    <br>
        <div>
		  <label style="color:blue;">On Every</label>
						{{ form.every }}



            <label style="color:blue;padding:0px 20px;">At</label>
						{{ form.time }}

</div>

    <br>
    <div  >
		  <label style="color:blue;">Image</label>
						{{ form.image }}
					</div>

    <br>



    <br>
    <div  >
		  <label style="color:blue;">Group</label>
						{{ form.group }}
					</div>


    <br>
    <div  style="justify-content: center;">

						<button  type="submit" style="background-color:white;
	height:40px;
	margin-left: 10px;
	width:140px;
	border-radius:6px;
	color:white;
	background-color:blue;

">Publish</button>
					</div>
    </form>
<!-- partial -->

</body>
</html>
